*{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

header{
    padding: 30px;
    position: fixed;
    z-index: 1;
    width:95% ;
    background-color: blueviolet;
}

#logo{
    display: inline;
    font-family: 'great vibes';
    font-size: 30px;
    font-weight: 900;
}

#hamburger_menu{
    float: right;
}

nav{
    width: 100%;
    position: absolute;
    background-color: rgb(45, 130, 204);
    scale: 0;
    top: 96px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
nav ul li{
    list-style: none;
   
}
.links{
    margin: 10px;
    width: 100vh;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex !important;
}
section{
    width: 100%;
    height: 100vh;
    position:relative;
    background-color: blanchedalmond;
}
section img{
    width: 500px;
    float: right;
    border-radius: 100%;
    margin-top: 100px;
    margin-right: 200px;
    display: inline;
}

 p{
    margin-top: 300px;
    margin-left: 200px;
    display: inline-block;
    float: left;
    font-family: 'Pacifico' ;
}
#hi{
font-size: medium;
}
#im{
    font-size: xx-large;
}
#prof{
    font-size: x-large;
}

#bio{
    position: relative;
    height: 100vh;
    background-color: brown;
}
#bio p{
    width: 750px;
    float: right;
    margin-right: 100px;
}

#bio img{
    float: left;
    width: 350px;
    border-radius: 100%;
    margin-top: 200px;
    margin-left: 100px;
}