*{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

header{
    padding: 30px;
    position: fixed;
    z-index: 1;
    width:95% ;
    background-color: rgba(137, 43, 226, 0);
}

#logo{
    display: inline;
    font-family: 'great vibes';
    font-size: 30px;
    font-weight: 900;
}

#hamburger_menu{
    float: right;
}

nav{
    width: 100%;
    position: absolute;
    background-color: rgb(45, 130, 204);
    scale: 0;
    top: 96px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
nav ul li{
    list-style: none;
   
}
.links{
    margin: 10px;
    width: 100vh;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex !important;
}
section{
    width: 100%;
    height: 100vh;
    position:relative;
    background-color: blanchedalmond;
}
section img{
    width: 500px;
    float: right;
    border-radius: 100%;
    margin-top: 100px;
    margin-right: 200px;
    display: inline;
}

 p{
    margin-top: 300px;
    margin-left: 200px;
    display: inline-block;
    float: left;
    font-family: 'Pacifico' ;
}
#hi{
font-size: medium;
}
#im{
    font-size: xx-large;
}
#prof{
    font-size: x-large;
}

#bio{
    position: relative;
    height: 100vh;
    background-color: brown;
}
#bio p{
    width: 750px;
    float: right;
    margin-right: 100px;
}

#bio img{
    float: left;
    width: 350px;
    border-radius: 100%;
    margin-top: 200px;
    margin-left: 100px;
}

#services{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background-color: aquamarine;
    text-align: justify;
}

.service{
    display: inline-block;
    margin: 10px;
    width: 250px;
    height: 350px;
    background-color: rgb(110, 75, 24);
    border-radius: 20%;
    padding: 20px;
    font-family: 'Major Mono Display';
    font-weight: 700;
}
.icon{
    width: 100px;
}
#skilcert{
    padding: 30px;
}
.skival{
    width: 70%;
    height: 30px;
    accent-color:red;
    box-shadow: 0 2px 10px rgb(255, 2, 2);
}
.certification{
    align-items: center;
    align-self: justify;
    justify-content: center;
    padding: 10px;
}
.cert{
    margin: 20px;
    display: inline-block;
    width: 250px;
    padding: 15px;
    background-color: blueviolet;
    height: 250px;
    border-radius: 30px;
}
.transcript{
    display: inline-block;
    background-color: aquamarine;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin: 20px;
    padding: 10px 0px 10px 20px;
}

form{
    width: 80%;
    margin: 30px;
    border: 2px solid rgb(167, 16, 194);
    padding: 20px;
    box-shadow: 0 0 10px rgb(167, 16, 194);
    background: transparent;
    position: relative;
}
input ,textarea{
    width: 90%;
    padding: 10px;
    outline: 0;
    border: 2px solid rgb(167, 16, 194);
    font-size: 20;
    background: transparent;
    margin: 20px;
}
.lbl{
    height: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 40px;
    color: rgb(132, 0, 255);
    cursor: text;
}